<div class="row container mx-auto text-center pt-4">
    <h1>CHAMADOS</h1>
</div>
<div class="container py-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://via.placeholder.com/500x250" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Em aberto</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac augue eget
                        urna vestibulum accumsan non non metus. In aliquet rutrum metus, ut commodo nisi consectetur ut.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://via.placeholder.com/500x250" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Suspendisse non metus ut nibh malesuada dictum. Aliquam quis mi bibendum,
                        congue lectus quis, fermentum justo. Sed porta imperdiet dolor, eget dignissim mauris dictum
                        eget.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://via.placeholder.com/500x250" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">Maecenas suscipit lectus id lorem congue, a dictum turpis luctus. Nam ac
                        pharetra tortor, non pretium lorem. Donec imperdiet pellentesque neque vitae dictum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button class="floating-button">
    <i class="fa fa-plus"></i>
    <span class="ms-2">Abrir chamado</span>
</button>
   -->

<button class="floating-button" ngbTooltip="Adicionar" placement="right">
    <i class="fa fa-plus"></i>
</button>