<div class="row container mx-auto text-center pt-4">
    <h1>CHAMADOS</h1>
</div>
<div class="container py-3">
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex">
        <div class="col-6 col-md-3">
            <div class="card h-100">
                <a (click)="abrirListaChamados()">
                    <img style="color: blue;" src="../../../assets/img/blueIconExclamacao.png"
                        class="card-img-top centered-image pt-3">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title text-center">Em aberto({{chamadosEmAberto}})</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card h-100">
                <a (click)="abrirListaChamadosPendentes()">
                    <img src="../../../assets/img/exclamacao.png" class="card-img-top centered-image pt-3">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title text-center">Pendentes({{chamadosPendentes}})</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card h-100">
                <a (click)="abrirListaChamadosFinalizados()">
                    <img src="../../../assets/img/check.png" class="card-img-top centered-image pt-3">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title text-center">Finalizados({{chamadosFinalizados}})</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card h-100">
                <a (click)="abrirListaChamadosAtrasados()">
                    <img src="../../../assets/img/atrasado.png" class="card-img-top centered-image pt-3">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title text-center">Atrasados({{chamadosAtrasados}})</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center d-flex justify-content-center align-items-center att-icon">
            <img  ngbTooltip="Atualizar" src="../../../assets/img/refresh.png" (click)="refreshPage()" id="imagem-refres" 
            (mouseover)="ativarGif()" (mouseleave)="desativarGif()" [ngClass]="{'botao-clique': imagemClicada}">
        </div>
    </div>
</div>

<button class="floating-button addButton" placement="left" ngbTooltip="Abrir chamado" (click)="open(content)">
    <i class="fa fa-plus"></i>
</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Abrir Chamado</h4>
        <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Fechar"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 mb-2 mr-sm-2 mb-sm-0">
                <label class="required" for="solicitante">Solicitante</label>
                <input type="text" class="form-control" id="solicitante" [(ngModel)]="chamadoPost.solicitante">
            </div>
            <div class="col-12 col-sm-6 col-md-6 mb-2">
                <label for="data" ngbTooltip="Data limite será definida após análise">Data Limite</label>
                <input type="date" class="form-control" id="data" [(ngModel)]="chamadoPost.data_limite" disabled="true">
            </div>
            <div class="col-12 col-sm-6 col-md-6 mb-2">
                <label for="statusChamado">Status do chamado</label>
                <select class="form-control status-color-font" disabled="true" id="statusChamado" [(ngModel)]="chamadoPost.status_chamado_id"
                    [ngClass]="{'bg-EmAberto': chamadoPost.status_chamado_id == 1}">
                    <option *ngFor="let objeto of listaStatusChamado" [value]="objeto.id">
                        <b>{{objeto.descricao}}</b></option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 mb-2">
                <label class="required" for="sistemaSuportado">Sistema Suportado</label>
                <select class="form-control" id="sistemaSuportado" [(ngModel)]="chamadoPost.sistema_suportado_id">
                    <option value="0" selected>Selecione uma opção</option>
                    <option *ngFor="let objeto of listaSistemaSuportado" [value]="objeto.id">{{objeto.nome}}</option>
                </select>
            </div>
            <div class="col-12">
                <label class="required" for="descricao_problema">Descrição do Problema</label>
                <textarea id="descricao_problema" class="form-control" [(ngModel)]="chamadoPost.descricao_problema" rows="5" wrap="soft"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between w-100">
        <button type="button" class="btn btn-outline-dark ml-auto" (click)="modal.close('fechar')">Fechar</button>
        <button type="button" class="btn btn-primary mr-auto" (click)="salvar()">Abrir chamado</button>
    </div>
</ng-template>