<div class="row container mx-auto text-center pt-4">
    <h1>CHAMADOS</h1>
</div>
<div class="container py-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <a>
                    <img style="color: blue;" src="../../../assets/img/blueIconExclamacao.png"
                        class="card-img-top centered-image pt-3">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title text-center">Em aberto</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a>
                    <img src="../../../assets/img/exclamacao.png" class="card-img-top centered-image pt-3">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title text-center">Pendentes</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a>
                    <img src="../../../assets/img/check.png" class="card-img-top centered-image pt-3">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title text-center">Finalizados</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<button class="floating-button" placement="left" ngbTooltip="Abrir chamado">
    <i class="fa fa-plus"></i>
</button>